<!DOCTYPE html>
<html>
<head>





	
	<title>403 Forbidden</title>
</head>
<body>





<p>Directory access is forbidden.</p>

</body>
</html>


<!-- <?php $this->load->helper("ajax_") ?>
<body>

  <button type="button" class="btn btn-success" id="nue">Nuevo</button>

<table>
	<thead>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody id="tabla_">
		
	</tbody>

</table>

<div class="modal" tabindex="-1" role="dialog" id="modalBorrar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion de Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Realmente desea eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnBorrar">Si, borrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<!-- The Modal -->
  <div class="modal fade" id="---">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-family: 'Montserrat', cursive; color: #a8834c;"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form id="form--" action="" method="POST" style="font-family: 'Montserrat', cursive; color: #46281e;">
            <input type="hidden" name="id_" id="id" value="0">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text" ><i class="fa fa-tags" >&nbsp</i>---</span>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="---" id="---">
                </div>
              </div>
          
            </div>

            <div class="row my-3">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text" ><i class="fa fa-tags" >&nbsp</i>---</span>
                  <select name="---" id="---" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <option value="">-- Seleccione  --</option>
                  </select>
                </div>
              </div>
            
            </div>
          </form>             
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>  
